<div class="about-me-wrapper ">
    <div class="column">
      <h1> About Me</h1>
        <p>Hello! My name is Chioma, and I enjoy flipping ideas to a visual on the world wide web. Technically my interest in web development started back in 2004 when I edited my Myspace Top 8 to a Top 16. The process of me not wanting to exclude any of my friends ended up teaching me a lot about HTML and CSS!</p>
        <p>. After the mySpace/AOL Instant Messenger days, I attended Stanford University to explore a variety of interests. I graduated with a Film & Media degree while also fulfilling my pre-med requirements. Shout out to Grey's Anatomy for the inspo! Outside the classroom I was a part of the women's soccer team that won the first National Championship in the program's history. Go Card!</p>
        <p>Post graduation I got to live my dream playing professional football(soccer) in four different countries for about a decade. I also had the opportunity to represent two of my three nationalites (England and USA) at the international level.</p>
        <p> I am someone who constantly loves to learn, so during the pandemic I circled back to my tech curiosity and enrolled in a bootcamp to become a certified full stack software developer.</p>
        <p> Fast forward to today, I am growing everyday as a developer at Simpleview Inc. My main focus is </p>
        <p>Here are a few technologies I've been working with recently:</p>
    </div>
    <div class="column">
        <div class="flip-card-container">
            <div class="flip-card-front">
              <img src="img_avatar.png" alt="Avatar" style="width:300px;height:300px;">
            </div>
            <div class="flip-card-back">
              <h1>John Doe</h1>
              <p>Architect & Engineer</p>
              <p>We love that guy</p>
            </div>

    </div>
</div>

