<div class="container">
  <div class="nav-container">
    <i class="fa-solid fa-door-open"></i>
    <p class="welcome-nav-item" id="welcome-nav-item" (click)="goToPart('intro')">Welcome</p>
    <div class="right-nav-items">
      <p class="nav-item" (click)="goToPart('about-me')">About Me</p>
      <i class="fa-solid fa-circle"></i>
      <p class="nav-item" (click)="goToPart('experience')">Experience</p>
      <p class="nav-item" (click)="goToPart('work')">Work</p>
      <p class="nav-item" (click)="goToPart('contact')">Contact</p>
      <p class="back-to-top" (click)="scrollToTop()">Back to Top</p>
    </div>
  </div>
  <app-intro id="intro"></app-intro>
  <app-experience id="experience"></app-experience>
  <app-about-me id="about-me"></app-about-me>
  <app-work id="work"></app-work>
  <app-contact id="contact"></app-contact>
</div>
<router-outlet></router-outlet>

