<div class="contact-wrapper">
    <h1 class="title">Contact</h1>
    <div class="iphone">
        <div class="screen">
            <div class="display-settings">
                <div class="clock-container">
                <p class="clock">{{currentTime}}</p>
                </div>
                <div class="general-settings-container">
                    <i class="fa-solid fa-signal"></i>
                    <i class="fa-solid fa-wifi"></i>
                    <i class="fa-solid fa-battery-three-quarters"></i>
                </div>
            </div>
            <div class="notch">
                <div class="camera"></div>
                <div class="speaker"></div>
            </div>
            <div class="email-form-errors" *ngIf="hasEmailFormErrors">
                <span>{{emailFormErrors.errors.firstName.message}}</span>
                <span>{{emailFormErrors.errors.lastName.message}}</span>
                <span>{{emailFormErrors.errors.emailAddress.message}}</span>
                <span>{{emailFormErrors.errors.email.message}}</span>
            </div>
            <form (submit) = "submittedEmailForm()">
                <div class="email-template">
                    <a class="cancel-text">Cancel</a>
                    <div class="email-title-section">
                        <input class="email-title" placeholder="New Message" type="text">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa-solid fa-circle-arrow-up"></i>
                        </button>
                    </div>
                    <table class="email-composition">
                        <tr>
                            <th class="recipient-label">To:</th>
                            <td class="recipient">Chioma Ubogagu</td>
                        </tr>
                        <tr>
                            <th class="author-label">From:</th>
                            <td class="author" [ngClass]="{errorStyling: emailFormErrors.errors.firstName.message != undefined}">
                                <input placeholder="First Name" type="text" name="firstName" [(ngModel)]="submittedEmail.firstName">
                            </td>
                            <td class="author" [ngClass]="{errorStyling: emailFormErrors.errors.lastName.message}">
                                <input placeholder="Last Name" type="text" name="lastName" [(ngModel)]="submittedEmail.lastName" >
                            </td>
                            <td class="author" [ngClass]="{errorStyling: emailFormErrors.errors.email.message}">
                                <input placeholder="Email Address" type="text" name="emailAddress" [(ngModel)]="submittedEmail.emailAddress">
                            </td>
                        </tr>
                        <tr>
                            <th class="subject-label">Subject:</th>
                            <td class="subject">
                                <input placeholder="Optional" type="text" name="subject" [(ngModel)]="submittedEmail.subject">
                            </td>
                        </tr>
                    </table>
                    <textarea class="email-content" name="email" [ngClass]="{errorStyling: emailFormErrors.errors.email.message}" placeholder="Let's connect!" type="textarea"  [(ngModel)]="submittedEmail.email"></textarea>
                </div>
            </form>
        </div>
    </div>
</div>