<div class="experience-wrapper">
    <h1 class="heading">Experience</h1>
    <div class="projects">
        <div class="project">
            <div class="video-wrapper">
                <video  src="assets/videos/collegebook-iphone.mp4" controls autoplay loop class="project-video collegebook-phone-video"></video>
                <video src="assets/videos/collegebook-video.mp4" controls autoplay loop class="project-video collegebook-video"></video>
                <div class="project-info">
                    <a href="https://collegebook.up.railway.app/" target="_blank">
                        <h2 class="project-title">Collegebook</h2>
                        <span class="project-button">Visit Website
                            <i class="fa-solid fa-caret-right"></i>
                        </span>
                    </a>
                    <p class="project-description">Inspired by Facebook, Collegebook allows users to connect with people and friends</p>
                    <div class="coding-language-buttons">
                        <a href="https://github.com/ChiomaGrace/CollegeBook" target="_blank">
                            <div class="coding-language-button">
                                <span>Python</span>
                            </div>
                        </a>
                        <a href="https://github.com/ChiomaGrace/CollegeBook" target="_blank">
                            <div class="coding-language-button">
                                <span>HTML</span>
                            </div>
                        </a>
                        <a href="https://github.com/ChiomaGrace/CollegeBook" target="_blank">
                            <div class="coding-language-button">
                                <span>CSS</span>
                            </div>
                        </a>
                        <a href="https://github.com/ChiomaGrace/CollegeBook" target="_blank">
                            <div class="coding-language-button">
                                <span>Javascript</span>
                            </div>
                        </a>
                        <a href="https://github.com/ChiomaGrace/CollegeBook">
                            <div class="coding-language-button">
                                <span>Railway</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="skills-section">
        <div class="specific-skill">
            <i class="fa-solid fa-laptop-code"></i>
            <!-- <h3>Frontend Developer</h3> -->
            <h3>Languages I know</h3>
            <div class="logos">
                <div class="logo">
                    <img src="assets/images/html-logo.svg" class="html-logo" alt="The offical logo of HyperText Markup Language(HTML)">
                    <p>HTML</p>
                </div>
                <div class="logo">
                    <img src="assets/images/css-logo.png" class="css-logo" alt="The offical logo of Cascading Style Sheets(CSS)">
                    <p>CSS</p>
                </div>
                <div class="logo">
                    <img src="assets/images/javascript-logo.svg" class="javascript-logo" alt="The offical logo of Javascript programming language">
                    <p>Javascript</p>
                </div>
                <div class="logo">
                    <img src="assets/images/python-logo.png" class="python-logo" alt="The offical logo of Python programming language">
                    <p>Python</p>
                </div>
                <div class="logo">
                    <img src="assets/images/ruby-logo.svg" class="ruby-logo" alt="The offical logo of Ruby programming language">
                    <p>Ruby</p>
                </div>
            </div>
            <!-- <div class="tools">
                <p>Visual Studio</p>
                <p>Bootstrap</p>
                <p>Github</p>
                <p>Terminal</p> 
            </div> -->
        </div>
        <div class="specific-skill">
            <i class="fa-brands fa-connectdevelop"></i>
            <!-- <h3>Backend Developer</h3> -->
            <h3>Frameworks I use</h3>
            <div class="logos">
                <div class="logo">
                    <img src="assets/images/angular-logo.svg" class="angular-logo" alt="The offical logo of Angular">
                    <p>Angular</p>
                </div>
                <div class="logo">
                    <img src="assets/images/bootstrap-logo.svg" class="bootstrap-logo" alt="The offical logo of Bootstrap">
                    <p>Bootstrap</p>
                </div>
                <div class="logo">
                    <img src="assets/images/django-logo.png" class="django-logo" alt="The offical logo of Django">
                    <p>Django</p>
                </div>
                <div class="logo">
                    <img src="assets/images/express-logo.png" class="express-logo" alt="The offical logo of Django">
                    <p>Express</p>
                </div>
                <div class="logo">
                    <img src="assets/images/flask-logo.png" class="flask-logo" alt="The offical logo of Flask">
                    <p>Flask</p>
                </div>
                <div class="logo">
                    <img src="assets/images/jquery-logo.png" class="jquery-logo" alt="The offical logo of jQuery">
                    <p>jQuery</p> 
                </div>
                <div class="logo">
                    <img src="assets/images/ruby-on-rails-logo.svg" class="ruby-on-rails-logo" alt="The offical logo of Ruby on Rails">
                    <p>Ruby on Rails</p> 
                </div>
                <div class="logo">
                    <img src="assets/images/react-logo.png" class="react-logo" alt="The offical logo of React">
                    <p>React</p> 
                </div>
                <div class="logo">
                    <img src="assets/images/sass-logo.png" class="sass-logo" alt="The offical logo of Syntactically Awesome Style Sheets(SASS)">
                    <p>SASS</p>
                </div>
                <div class="logo">
                    <img src="assets/images/typescript-logo.png" class="typescript-logo" alt="The offical logo of Typescript">
                    <p>Typescript</p>
                </div>
                <div class="logo">
                    <img src="assets/images/vanilla-js-logo.jpg" class="vanilla-js-logo" alt="The offical logo of Vanilla Javascript">
                    <p>Vanilla JS</p>
                </div>
                <div class="logo">
                    <img src="assets/images/vue-logo.png" class="vue-logo" alt="The offical logo of Vue">
                    <p>Vue</p>
                </div>
            </div>
        </div>
        <div class="specific-skill">
            <i class="fa-solid fa-database"></i>
            <h3>Databases I access</h3>
            <div class="logos">
                <div class="logo">
                    <img src="assets/images/mongo-db-logo.png" class="mongo-db-logo" alt="The offical logo of MongoDB">
                    <p>MongoDB</p>
                </div>
                <div class="logo">
                    <img src="assets/images/my-sql-logo.png" class="my-sql-logo" alt="The offical logo of MySQL">
                    <p>mySQL</p>
                </div>
                <div class="logo">
                    <img src="assets/images/sqlite-logo.png" class="sqlite-logo" alt="The offical logo of SQLite">
                    <p>SQLite</p>
                </div>
                <div class="logo">
                    <img src="assets/images/postgres-logo.png" class="postgres-logo" alt="The offical logo of PostGresSQL">
                    <p>PostGres</p>
                </div>
            </div>
        </div>
    </div>
</div>
