<div class="work-wrapper">
    <h1 class="title">Work</h1>
    <div class="business-card">
        <div class="row">
            <div class="text-info">
                <p class="name">Chioma Ubogagu</p>
                <p class="position">CMS Developer at Simpleview</p>
            </div>
        </div>
        <div class="row">
            <a href="https://www.simpleviewinc.com/" target="_blank">
                <img class="qr-code" src="/assets/images/qr-code-new.png" alt="QR Code" >
            </a>
        </div>
    </div>
</div>
