<div class="intro-container">
    <div class="intro-wrapper">
        <p class="hi-my-name-is">Hi, my name is 
            <span class="strike-through">
                <span class="slim-shady">Slim Shady</span>
            </span>
        </p>
        <h2 class="name" >Chioma Ubogagu.</h2>
        <p class="i-code-and-i-love-it">I code, and I love it!</p>
        <p class="description">I'm a full stack software engineer with a passion for creating, designing, and building apps on the web. Currently my focus is in front-end developing at <a class="simpleview" href="https://www.simpleviewinc.com/">Simpleview</a>. Before that I was kicking balls for a living as a professional football(soccer) player.</p>
    </div>
    <div class="img-container">
        <img src="assets/images/profile-pic-full-body.jpg" class="" alt="A half-body image of software engineer Chioma Ubogagu">
        <div class="socials">
            <a href="https://github.com/ChiomaGrace">
                <i class="fa-brands fa-github" alt="Github" title="GitHub"></i>
            </a>
            <a href="mailto:chiomau@alumni.stanford.edu">
                <i class="fa-solid fa-envelope" alt="Email" title="Email"></i>
            </a>
            <a href="https://www.linkedin.com/in/chioma-ubogagu-4907b890">
                <i class="fa-brands fa-linkedin" alt="LinkedIn" title="LinkedIn"></i>
            </a>
            <a target="_blank" href="../assets/documents/resume.pdf" >
                <i class="fa-solid fa-file" alt="Resume" title="Resume"></i>
            </a>
        </div>
    </div>
</div>




