<!-- <p>contact works!</p> -->


<!-- <form #contactForm ="ngForm" (ngSubmit)="submit(contactForm)" >
    <p style="background-color: red;"> {{submittedEmail | json }}</p>
    <input type="text" class="form-control" name="name" ngModel>
    <button type="submit"> Send Email</button>
</form> -->

<!-- <form [formGroup] ="contactForm" (ngSubmit)="saveEmail(contactForm.value)" >
    <p style="background-color: red;"> {{submittedEmail | json }}</p>
    <input type="text" formControlName="name" class="form-control" required >
    <button type="submit"> Send Email</button>
</form> -->

<form (submit) = "submittedEmailForm()">
    <div class="form-group">
        <!-- <div *ngIf="errors.name">
            <p> {{errors.name.message}}</p>
        </div> -->
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name" [(ngModel)]="submittedEmail">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<div class="contact-wrapper">
    <h1 class="title">Contact</h1>
    <div class="iphone">
        <div class="screen">
            <div class="notch">
                <div class="camera"></div>
                <div class="speaker"></div>
            </div>
        </div>
        <p>testing</p>
    </div>
</div>