.intro-sitemap-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    padding: 0px 20px;
}

.intro-sitemap-wrapper .description {
    margin: 60px 0px 6px 0px;
    line-height: 1.1;
}

.intro-sitemap-wrapper .description p, h2, h3, h4 {
    margin-bottom: 4px;
}

.intro-sitemap-wrapper .description h5 {
    /* color: var(--slate-purple); */
    color: black;
    padding-bottom: 4px;
    font-size: 18px;
}

.intro-sitemap-wrapper .description .strike-through {
    color: red;
    text-decoration: line-through;
    text-decoration-thickness: 4px;
}

.intro-sitemap-wrapper .description .slim-shady {
    /* color: var(--slate-purple); */
    color: black;
}

.intro-sitemap-wrapper .description h2 {
    color: var(--blurple);
    font-weight: 800;
    font-size: 6.8vw;
}

.intro-sitemap-wrapper .description h3 {
    color: black;
    margin-bottom: 6px;
    font-size: 20px;
}

.intro-sitemap-wrapper .description p {
    /* color: var(--slate); */
    color: black;
    letter-spacing: .3px;
    font-size: 17px;
    padding-top: 2px;
    line-height: 1.5;
}

.intro-sitemap-wrapper .description .simpleview {
    color: var(--purple);
    text-decoration: none;
    font-weight: bolder;
}

.intro-sitemap-wrapper .description .simpleview:hover {
    text-decoration: underline;
}

.intro-sitemap-wrapper img {
    display: block;
    width: 70%;
    margin: 10px 0px;
}

.intro-sitemap-wrapper .heading {
    flex: 1 0 100%;
    text-align: center;
    color: var(--darker-blue);
    margin: 20px auto 20px 0px;
    cursor: default;
}

.intro-sitemap-wrapper .site-map-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.intro-sitemap-wrapper .site-map-items .site-map-item {
    flex-basis: 100%;
    margin-bottom: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    width: 100%;
    border-radius: 6px;
    /* background-color: #282727; */
    /* color: var(--slate); */
    /* background-color: lavender; */
    color: black;
    margin-bottom: 20px;
    overflow: hidden;
    border: 4px solid var(--darker-blue);
}

.intro-sitemap-wrapper .site-map-items .site-map-item .triangle {
    background-image: linear-gradient(to bottom right, var(--darker-blue) 44%, transparent 44%);
    height: 60px;
    width: 60px;
    position: absolute;
    top: 0;
    left: 0;
}

.intro-sitemap-wrapper .site-map-items .site-map-item .triangle i {    
    position: relative;
    top: 4px;
    left: 4px;
    color: white;
    font-size: 12px;
}

.intro-sitemap-wrapper .site-map-items .site-map-item:hover {
    background-color: var(--blurple);
    border: 1px solid transparent;
}

.intro-sitemap-wrapper .site-map-items .site-map-item:hover .triangle {
    background-image: linear-gradient(to bottom right, white 44%, transparent 44%);
}

.intro-sitemap-wrapper .site-map-items .site-map-item:hover .triangle i{
    color: var(--purple);
}

.intro-sitemap-wrapper .site-map-items .site-map-item:hover > .site-map-text h3 {
    color: var(--white);
}

.intro-sitemap-wrapper .site-map-items .site-map-item:hover > .site-map-text {
    color: white;
}

.intro-sitemap-wrapper .site-map-items .site-map-item:hover > .triangle {
    color: white;
}

.intro-sitemap-wrapper .site-map-items .site-map-item .site-map-text {
    flex: 1 0 80%;
    font-size: 10px;
    margin-left: 50px;
    margin-bottom: 4px;
}

.intro-sitemap-wrapper .site-map-items .site-map-item .site-map-text h3 {
    /* color: var(--slate-purple); */
    color: black;
    text-decoration: none;
}

@media (min-width: 375px) {

    .intro-sitemap-wrapper .description {
        margin: 48px 10px 6px 10px;
    }

    .intro-sitemap-wrapper .site-map-items .site-map-item {
        height: 78px;
    }

    .intro-sitemap-wrapper .site-map-items .site-map-item .site-map-text {
        flex: 1 0 80%;
        font-size: 10px;
        margin-left: 50px;
        margin-bottom: 0px;
    }

    .intro-sitemap-wrapper .site-map-items .site-map-item .site-map-text h3, .intro-sitemap-wrapper .site-map-items .site-map-item .site-map-text p {
        margin-left: 8px;
    }

    .intro-sitemap-wrapper .site-map-items .site-map-item .site-map-text h3 {
        font-size: 18px;
    }

    .intro-sitemap-wrapper .site-map-items .site-map-item .site-map-text p {
        font-size: 14px;
        padding: 0px 1px;
    }

}

@media (min-width: 425px) {

    .intro-sitemap-wrapper .description {
        margin-top: 120px;
        margin-left: 40px;
    }

    .intro-sitemap-wrapper .description p {
        margin-bottom: 15px;
    }

    .intro-sitemap-wrapper img {
        margin-bottom: 20px;
    }

    .intro-sitemap-wrapper .heading {
        font-size: 28px;
    }

    .intro-sitemap-wrapper .site-map-items .site-map-item {
        max-width: 340px;
        height: 90px;
        border-radius: 8px;
    }

    .intro-sitemap-wrapper .site-map-items .site-map-item .triangle i {
        font-size: 18px; 
    }


    .intro-sitemap-wrapper .site-map-items .site-map-item .site-map-text h3 {
        font-size: 22px;
    }

    .intro-sitemap-wrapper .site-map-items .site-map-item .site-map-text p {
        font-size: 20px;
    }

}

@media (min-width: 700px) {

    .intro-sitemap-wrapper .description {
        margin-top: 100px;
    }
}

/* The below code is for a media query(tablet) */

@media (min-width: 768px) {

    .intro-sitemap-wrapper {
        flex-flow: row wrap;
        flex-wrap: nowrap;
        align-items: center;    
        padding: 0px;
        margin: 0px 30px;
    }
    
    .intro-sitemap-wrapper .description {
        align-self: center;
        margin: 0px;
    }
    
    .intro-sitemap-wrapper .description h2 {
        font-size: 26px;
        padding-bottom: 0px;
    }
    
    .intro-sitemap-wrapper .description h3 {
        font-size: 22px;
    }
    
    .intro-sitemap-wrapper .description h5 {
        font-size: 13.28px;
        padding-bottom: 6px;
        margin-top: 0px;
    }
    
    .intro-sitemap-wrapper .description p {
        font-size: 16px;
        margin-top: 12px;
        width: calc(100% - 50px);
    }

    .intro-sitemap-wrapper img {
        display: none;
    }

    .intro-sitemap-wrapper .heading {
        margin-bottom: 12px;
    }

    .intro-sitemap-wrapper .site-map-items .site-map-item {
        max-width: 278px;
        height: 109px;
    }

    .intro-sitemap-wrapper .site-map-items .site-map-item .site-map-text {
        font-size: 14px;
        position: relative;
        z-index: 2;
    }

}
/* The above code is for a media query(tablet) */


/* The below code is for a media query(laptop) */

@media (min-width: 1024px) {

    .intro-sitemap-wrapper {
        margin: 0px 40px;
    }

    .intro-sitemap-wrapper .description {
        flex: 0 0 50%;
        margin-top: 16px;
    }

    .intro-sitemap-wrapper .description h5 {
        font-size: 17.28px;
    }

    .intro-sitemap-wrapper .description h2 {
        font-size: 30px;
    }

    .intro-sitemap-wrapper .description p {
        font-size: 20px;
    }

    .intro-sitemap-wrapper .site-map-items {
        margin-left: 12px;
        flex: 100%;
    }

    .intro-sitemap-wrapper .site-map-items .site-map-item {
        max-width: none;
        flex: 45%;
        margin-right: 20px;
        height: 120px;
    }

    .intro-sitemap-wrapper .site-map-items .site-map-item .site-map-text {
        flex: 1 0 70%;
    }

}



/* The above code is for a media query(laptop) */