<div class="container">
  <div class="menu-bar">
    <div class="column">
      <img src="assets/images/vs-code-icon.png" alt="Visual Studios Logo">
      <button>&#9776;</button>
      <!-- <p class="menu-items">File</p>
      <p class="menu-items">Edit</p>
      <p class="menu-items">Selection</p>
      <p class="menu-items">View</p>
      <p class="menu-items">Go</p>
      <p class="menu-items">...</p>
      <p class="menu-items">Run</p>
      <p class="menu-items">Terminal</p>
      <p class="menu-items">Help</p> -->
    </div>
    <div class="column">
      <p class="menu-bar-title">Welcome - Visual Studios Code</p>
    </div>
    <div class="column">
      <i class="fas fa-window-minimize"></i>
      <i class="fas fa-window-restore"></i>
      <i class="fas fa-times"></i>
    </div>
  </div>
  <div class="page">
    <div class="side-bar">
      <i class="far fa-file"></i>
      <i class="fas fa-search"></i>
      <i class="fas fa-code-branch"></i>
      <i class="fas fa-play"></i>
      <i class="fas fa-bookmark"></i>
      <i class="fas fa-user-circle"></i>
      <i class="fas fa-cog"></i>
    </div>
    <div class="content">
      <div class="window-bar">
        <div class="window-tab">
          <img src="assets/images/vs-code-icon.png" alt="Visual Studios Logo">
          <p>Welcome</p>
          <i class="fas fa-times"></i>
        </div>
      </div>
      <app-intro-sitemap class="intro-sitemap-container"></app-intro-sitemap>
      <app-about-me class="about-me-container"></app-about-me>
    </div>
  </div>
  <div class="status-bar">
    <i class="fas fa-times-circle"></i>
    <p>0</p>
    <i class="fas fa-exclamation-triangle"></i>
    <p>0</p>
    <i class="fas fa-share"></i>
    <p>Live Share</p>
    <i class="fas fa-smile"></i>
    <i class="far fa-bell"></i>
  </div>
</div>

<router-outlet></router-outlet>
