html, body {
    margin: 0px;
    width: 100%;
    height: 100%;
    font-family: system-ui;
    background-color: #e7ebf6;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
}

:root {
    --lightest-blue: #84CEEB;
    --darker-blue: #5AB9EA;
    --slate: #8892B0;
    --slate-purple: #C1C8E4;
    --blurple: #5680E9;
    --purple: #8860D0;
}

