.about-me-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    height: 100%;
    overflow-x:  hidden;
    overflow-y: scroll;
    font-family: system-ui;
}

.about-me-wrapper .column:first-child {
    /* border: solid 4px var(--blurple); */
    border: solid 1px var(--blurple);
    margin: 10px 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: fit-content;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
}

.about-me-wrapper .column:last-child {
    margin-top: 8px;
    text-align: center;
}

.about-me-wrapper .title {
    text-align: center;
    color: var(--blurple);
    margin-bottom: 6px;
}

.about-me-wrapper .slider .slide-content .slide-text{
    padding: 0px 30px;
    display: none;
}

.about-me-wrapper .slider .slide-content .slide-text.slide-active {
    display: block;
    padding: 0px 40px;
    text-align: left;
    /* color: var(--slate); */
    color: black;
    font-size: 12px;
}

.about-me-wrapper .slider .dots-container {
    display: flex;
    justify-content: center;
    margin-bottom: 6px;
    cursor: pointer;
}

.about-me-wrapper .slider .dots-container .fa-circle {
    font-size: 10px;
    /* color: #fff; */
    color: var(--slate);
    opacity: .5;
    margin: 6px 4px;
}

.about-me-wrapper .slider .dots-container .dot-active {
    /* color: #fff; */
    color: var(--blurple);
    opacity: 1;
}

.about-me-wrapper .slider .left-arrow, .about-me-wrapper .slider .right-arrow {
    position: relative;
    transform: translate(0, calc(100% - 120px));
    font-size: 24px;
    /* color: #fff; */
    color: var(--blurple);
    z-index: 1;
    cursor: pointer;
}

.about-me-wrapper .slider .left-arrow {
    left: 8px;
    order: 6;
    max-height: 0px;
}

.about-me-wrapper .slider .right-arrow {
    margin-left: auto;
    order: 5;
    max-height: 0px;
    right: 6px;
}

.about-me-wrapper .column .flip-card-container {
    background-color: transparent;
    /* width: 300px; */
    width: 258px;
    perspective: 1000px;
    margin-bottom: 10px;
    cursor: pointer;
}

.about-me-wrapper .column .flip-card-container .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.about-me-wrapper .column .flip-card-container:hover .flip-card-inner {
    transform: rotateY(180deg);
    height: 420px;
}

.about-me-wrapper .column .flip-card-container .flip-card-front, .about-me-wrapper .column .flip-card-container .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: transparent;
    width: 170px;
    height: 170px;
}

.about-me-wrapper .column .flip-card-container .flip-card-front .profile-pic {
    border: solid 4px var(--blurple);
    width: 230px;
    height: 230px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
}

.about-me-wrapper .column .flip-card-container .flip-card-back {
    transform: rotateY(180deg);
    background: linear-gradient(235deg, rgba(86, 128, 233) 1.48%, rgba(132, 206, 235, 0.68) 12.52%, rgba(136, 146, 176, 0.9) 94%), url('../../assets/images/england-celebration.jpg');
    background-size: cover;
    background-position-x: -46px;
    background-position-y: -100px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.about-me-wrapper .column .flip-card-container .flip-card-back .flip-card-row {
    display: block;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    align-items: center;
}

.about-me-wrapper .column .flip-card-container .flip-card-back .flip-card-row .flip-card-column:nth-child(1) {
    flex: 0 0 33%;
 }

/* .about-me-wrapper .column .flip-card-container .flip-card-back .flip-card-row .flip-card-column:nth-child(1) {
   background-color: red;
} */

.about-me-wrapper .column .flip-card-container .flip-card-back .flip-card-row .flip-card-column {
    /* color: white;  */
    color: #2F5BAE;
}

.about-me-wrapper .column .flip-card-container .flip-card-back .flip-card-row .flip-card-column p:nth-child(1) {
    font-weight: 600;
}

.about-me-wrapper .column .flip-card-container .flip-card-back .flip-card-row .flip-card-column p:nth-child(2) {
    font-weight: 900;
}

.about-me-wrapper .column .flip-card-container .flip-card-back .flip-card-row .flip-card-column h3 {
    color: red;
    position: relative;
    top: -5px;
}

.about-me-wrapper .column .flip-card-container .flip-card-back .flip-card-row .flip-card-column .club-logos {
   position: relative;
   bottom: 0px;
}

.about-me-wrapper .column .flip-card-container .flip-card-back .flip-card-row .flip-card-column .club-logos img {
    margin: 0px 4px;
 }

.about-me-wrapper .column .flip-card-container .flip-card-back .flip-card-row .flip-card-column .club-logos span {
    display: block;
    position: relative;
    top: 6px;
    font-size: 10px;
    font-weight: 900;
 }

.about-me-wrapper .column .flip-card-container .flip-card-back .flip-card-row .flip-card-column .club-logos .arsenal-club-logo {
    width: 32px;
}

.about-me-wrapper .column .flip-card-container .flip-card-back .flip-card-row .flip-card-column .club-logos .houston-dash-logo {
    width: 30px;
}

.about-me-wrapper .column .flip-card-container .flip-card-back .flip-card-row .flip-card-column .club-logos .orlando-pride-logo {
    width: 35px;
}

.about-me-wrapper .column .flip-card-container .flip-card-back .flip-card-row .flip-card-column .club-logos .brisbane-roar-logo {
    width: 28px;
}

.about-me-wrapper .column .flip-card-container .flip-card-back .flip-card-row .flip-card-column .club-logos .real-madrid-logo {
    width: 34px;
}

.about-me-wrapper .column .flip-card-container .flip-card-back .flip-card-row .flip-card-column .club-logos .tottenham-logo {
    width: 24px;
}

/*.about-me-wrapper .column .flip-card-container .flip-card-back .flip-card-row .flip-card-column:nth-child(2) {
    background-color: orange;
} */

.about-me-wrapper .column .flip-card-container .flip-card-back .flip-card-row .flip-card-column:nth-child(2) img {
    width: 90px;
}

/* .about-me-wrapper .column .flip-card-container .flip-card-back .flip-card-row .flip-card-column:nth-child(3) {
    background-color: yellow;
}

.about-me-wrapper .column .flip-card-container .flip-card-back .flip-card-row:nth-child(2) {
    background-color: green;
} */

.about-me-wrapper .column .flip-card-container .flip-card-back .flip-card-row:nth-child(2) .flip-card-column:nth-child(1) {
    flex: 1;
    /* background-color: blue; */
}

.about-me-wrapper .column .flip-card-container .flip-card-back .flip-card-row:nth-child(3) {
    position: relative;
    top: 10px;
    background-color: white;
    border-radius: 20px;
    width: 80%;
    align-self: center;
}

.about-me-wrapper .column .flip-card-container .flip-card-back .flip-card-row:nth-child(3) .flip-card-column:nth-child(1) {
    flex: 1;
    width: 100%;
}

.about-me-wrapper .column .flip-card-container .flip-card-back .flip-card-row:nth-child(3) .name-and-number {
    width: 50%;
    height: 44px;
}

.about-me-wrapper .column .flip-card-container .flip-card-back .flip-card-row:nth-child(3) .name-and-number h1 {
    margin-left: 12px;
    color: red;
}

.about-me-wrapper .column .flip-card-container .flip-card-back .flip-card-row:nth-child(3) .number {
    font-size: 40px;
}

.about-me-wrapper .column .flip-card-container .flip-card-back .flip-card-row:nth-child(3) .flip-card-column img {
    /* max-width: 100%;
    height: auto;
    position: relative;
    top: 4px; */
    height: auto;
    position: relative;
    top: 4px;
    width: 306px;
    right: 98px;
}


@media (min-width: 375px) {

    .about-me-wrapper .column:first-child {
        margin-top: 110px;
    }

    .about-me-wrapper .slider .left-arrow, .about-me-wrapper .slider .right-arrow {
        transform: translate(0, calc(100% - 124px));
    }

    .about-me-wrapper .slider .slide-content .slide-text.slide-active {
        padding-bottom: 10px;
    }
}

@media (min-width: 425px) {

    .about-me-wrapper {
        margin: 0px -10px;
    }

    .about-me-wrapper .column:first-child {
        margin: 140px 10px 10px 10px;
    }

    .about-me-wrapper .title {
        margin-bottom: 10px;
    }
    
    .about-me-wrapper .slider .slide-content .slide-text {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .about-me-wrapper .slider .slide-content .slide-text .slide-active {
        padding-bottom: 0px;
    }

    .about-me-wrapper .slider .left-arrow, .about-me-wrapper .slider .right-arrow {
        transform: translate(0, calc(100% - 130px));
    }

    .about-me-wrapper .column:last-child {
        margin-top: 0px;
    }

    .about-me-wrapper .column .flip-card-container .flip-card-front .profile-pic {
        width: 270px;
        height: 270px;
    }
}

/* The below is a media query for tablet size */

@media (min-width: 768px) {

    .about-me-wrapper {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        overflow-y: hidden;
    }

    .about-me-wrapper .column {
        margin: 0px 10px;
    }

    .about-me-wrapper .column:first-child {
        margin: 0px;
        flex-basis: 50%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .about-me-wrapper .slider .slide-content .slide-text .slide-active {
        font-size: 16px;
        margin-bottom: 0px;
    }

    .about-me-wrapper .column .flip-card-container .flip-card-front .profile-pic {
        width: 190px;
        height: 190px;
    }

    .about-me-wrapper .column .flip-card-container {
        height: 400px;
        margin-bottom: 0px;
    }

    .flip-card-front {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }

}

/* The above is a media query for tablet size */

/* The below is a media query for laptop size */

@media (min-width: 1024px) {

    .about-me-wrapper {
        display: flex;
        justify-content: center;
        margin-right: 0px;
    }

    .about-me-wrapper .column {
        margin: 0px 20px;
    }

    .about-me-wrapper .column:first-child {
        flex-basis: 50%;
    }

    .about-me-wrapper .slider .slide-content .slide-text.slide-active {
        font-size: 16px;
    }

    .about-me-wrapper .column:last-child {
        text-align: center;
    }

    .flip-card-front {
        background-color: transparent;
        width: 290px;
        height: 290px;
    }

    .about-me-wrapper .column .flip-card-container .flip-card-front .profile-pic {
        width: 200px;
        height: 200px;    
        /* width: 280px;
        height: 280px;     */
    }
    
}

@media (min-width: 1440px) {

    .about-me-wrapper .slider .left-arrow, .about-me-wrapper .slider .right-arrow {
        transform: translate(0, calc(100% - 110px));
    }
}

/* The above is a media query for tablet size */
