<h1 class="heading">About Me</h1>
<div class="about-me-wrapper ">
    <div class="column slider">
        <div class="left-arrow">
          <i class="fa-solid fa-chevron-left" (click)="goToPrev()"></i>
        </div>
        <div class="right-arrow">
          <i class="fa-solid fa-chevron-right" (click)="goToNext()"></i>
        </div>
        <div class="slide-content" *ngIf = "slideContent && slideContent.length > 0">
          <!-- <h1 class="title"> About Me</h1> -->
          <p class="slide-text" *ngFor="let slide of slideContent; let i=index" [ngClass] = "{'slide-active' : selectedIndex === i}"> {{slide.content}}</p>
      </div>
      <div class="dots-container">
        <i *ngFor="let dot of slideContent; let i = index" [ngClass]= "{'dot-active': selectedIndex === i}" (click)="showCurrentSlide(i)" class="fa-solid fa-circle"></i>
      </div>
    </div>
    <div class="column">
      <div class="flip-card-container">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="assets/images/profile-pic.jpg" class="profile-pic" alt="A profile photo of Chioma Ubogagu">
            </div>
            <div class="flip-card-back">
              <div class="flip-card-row">
                <div class="flip-card-column">
                  <p>Field Position</p>
                  <p>Winger</p>
                </div>
                <div class="flip-card-column">
                    <img src="assets/images/england-badge.png" class="england-badge" alt="England Badge">
                    <h3>England</h3>
                </div>
                <div class="flip-card-column">
                  <p>Preferred Foot</p>
                  <p>L</p>
                </div>
              </div>
              <div class="flip-card-row">
                <div class="flip-card-column">
                  <!-- <span>Caps: 3 Goals: 1</span> -->
                  <div class="club-logos">
                    <span>Clubs Played For:</span>
                    <img src="assets/images/arsenal-logo.png" class="arsenal-club-logo" alt="Arsenal Football CLub Logo">
                    <img src="assets/images/houston-dash-logo.png" class="houston-dash-logo" alt="Houston Dash Football CLub Logo">
                    <img src="assets/images/orlando-pride-logo.png" class="orlando-pride-logo" alt="Orlando Pride Football CLub Logo">
                    <img src="assets/images/brisbane-roar-logo.png" class="brisbane-roar-logo" alt="Brisbane Football CLub Logo">
                    <img src="assets/images/real-madrid-logo.png" class="real-madrid-logo" alt="Real Madrid Football CLub Logo">
                    <img src="assets/images/tottenham-logo.png" class="tottenham-logo" alt="Tottenham Hotspur Football CLub Logo">
                  </div>
                </div>
              </div>
              <div class="flip-card-row">
                <div class="flip-card-column">
                  <div class="name-and-number">
                    <h1 class="name">Ubogagu</h1>
                    <h1 class="number">11</h1>
                  </div>
                  <img src="assets/images/england-action-shot.png" class="england-action-shot" alt="An action shot of Chioma Ubogagu in an England kit">
                </div>
            </div>
            </div>
          </div>
        </div>
    </div>
</div>

