.experience-wrapper {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    height: 100%; 
    font-family: system-ui;
    border-bottom: 1px solid black;
    padding-bottom: 60px;
}

a {
    text-decoration: none;
}

.experience-wrapper .heading {
    display: block;
    font-size: 30px;
    font-family: auto;
    font-weight: 400;
    text-align: center;
    color: black;
    margin: 40px 0px 40px 0px;
}

.experience-wrapper .projects {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-bottom: 20px;
}

.experience-wrapper .projects .project .video-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 100%;
}

.experience-wrapper .projects .project .video-wrapper .project-video {
    height: 494px;
    border-radius: 10px;
    filter: brightness(70%);
}

.experience-wrapper .projects .project .video-wrapper .collegebook-video {
    display: none;
}

.experience-wrapper .projects .project .video-wrapper .project-info {
    width: 86%;
    align-self: flex-end;
    position: absolute;
    bottom: 60px;
    left: 4px;
    z-index: 1;
    text-align: left;
    margin-left: 8px;
}

.experience-wrapper .projects .project .video-wrapper .project-info .project-title, .experience-wrapper .projects .project .video-wrapper .project-description {
    color: white;
    margin-left: 8px;
}

.experience-wrapper .projects .project .video-wrapper .project-info .project-title {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 4px;
    text-decoration: none;
}

.experience-wrapper .projects .project .video-wrapper .project-info .project-button {
    font-size: 10px;
    margin-left: 8px;
    padding: 4px;
    font-weight: bolder;
    font-style: italic;
    color: var(--purple);
    border-radius: 8px;
    background-color: var(--slate-purple);
}

.experience-wrapper .projects .project .video-wrapper .project-info .project-button:hover {
    background-color: var(--purple);
    color: var(--slate-purple);
}

.experience-wrapper .projects .project .video-wrapper .project-info .project-title:hover {
    color: var(--lightest-blue);
    -webkit-text-stroke: 1px var(--lightest-blue);
}

.experience-wrapper .projects .project .video-wrapper .project-info .project-description {
    font-size: 8px;
    font-style: oblique;
    margin-top: 6px;
}

.experience-wrapper .projects .project .video-wrapper .project-info .coding-language-buttons {
    width: 100%; 
    margin-left: 6px;
}

.experience-wrapper .projects .project .video-wrapper .project-info .coding-language-button {
    border-radius: 8px;
    background-color: var(--slate);
    width: fit-content;
    padding: 6px;
    color: var(--lightest-blue);
    font-weight: 500;
    font-size: 8px;
    margin: 8px 2px;
    display: inline-block;
}

.experience-wrapper .projects .project .video-wrapper .project-info .coding-language-button:hover {
    color: white;
}

.experience-wrapper .skills-section {
    display: flex;
    flex-direction: column;
    flex-basis: 94%;
}

.experience-wrapper .skills-section .specific-skill {
    flex: 1;
    border: dotted 2px var(--blurple);
    text-align: center;
    font-size: 12px;
    margin-bottom: 10px;
    color: black;
    box-shadow: 2px 2px 2px 2px hsla(0, 0%, 0%, 0.1);
}

.experience-wrapper .skills-section .specific-skill i {
    font-size: 44px;
    text-align: center;
    color: var(--blurple);
    border-radius: 40px;
}

.experience-wrapper .skills-section .specific-skill h3 {
    font-family: "eurostile", sans-serif;
    font-weight: 800;
    color: #5a5a5a;
    margin-bottom: 20px;
}

.experience-wrapper .skills-section .specific-skill .logos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    grid-row-gap: 20px;
    margin-bottom: 10px; 
}

.experience-wrapper .skills-section .specific-skill .logos .logo img {
    width: 50px;
    height: 50px;
}

.experience-wrapper .skills-section .specific-skill .logos .logo p {
    font-family: auto;
    font-weight: 600;
}

.experience-wrapper .skills-section .specific-skill .logos .logo .jquery-logo {
    width: 86px;
}

@media (min-width: 375px) {

    .experience-wrapper .projects .project .video-wrapper .project-video {
        height: 572px;
    }
}

@media (min-width: 425px) {
    .experience-wrapper .projects .project .video-wrapper .project-video {
        height: 530px;
    }

}

@media (min-width: 768px) {
    .experience-wrapper .projects .project {
        width: 100%;
    }

    .experience-wrapper .projects .project .video-wrapper .collegebook-phone-video {
        display: none;
    }

    .experience-wrapper .projects .project .video-wrapper .collegebook-video {
        display: block;
        height: 300px;
        background-color: var(--slate-purple);
        padding: 2px;
    }

    .experience-wrapper .projects .project .video-wrapper .project-info .project-title {
        font-size: 20px;
    }

    .experience-wrapper .projects .project .video-wrapper .project-info .project-button {
        font-size: 12px;
    }

    .experience-wrapper .projects .project .video-wrapper .project-info .project-description {
        font-size: 12px;
    }

    .experience-wrapper .skills-section {
        flex: 0 0 60%;
    }

    .experience-wrapper .skills-section .specific-skill .logos .logo p {
        font-size: 14px;
    }
}

@media (min-width: 1024px) {
    .experience-wrapper {
        margin: 0rem 8rem;
    }
    
    .experience-wrapper .projects .project {
        width: 100%;
    }

    .experience-wrapper .projects .project .video-wrapper .collegebook-video {
        display: block;
    }

    .experience-wrapper .projects .project .video-wrapper .project-info .coding-language-button,  .experience-wrapper .projects .project .video-wrapper .project-info .project-description {
        font-size: 14px;
    }

    .experience-wrapper .skills-section .specific-skill:nth-child(3) {
        margin-left: 12px;
    }

}

@media (min-width: 1440px) {
    .experience-wrapper .projects .project .video-wrapper .collegebook-video {
        height: 482px;
    }

    .experience-wrapper .skills-section {
        flex-direction: row;
        flex: 0 0 90%;
        flex-wrap: wrap;
    }

    .experience-wrapper .skills-section .specific-skill:nth-child(1) {
        order: 0;
        margin-right: 40px;
    }

    .experience-wrapper .skills-section .specific-skill:nth-child(2) {
        order: 2;
        flex: 0 0 100%;
        margin-top: 40px;
    }

    .experience-wrapper .skills-section .specific-skill:nth-child(3) {
        order: 1;
    }
    
}